<div class="container">
    Домашняя страница <br>
    <ul>
        <li><a href="Books/List">Список книг</a></li>
        <li><a href="Departments/List">Список пунктов выдачи</a></li>
    </ul>
</div>