@model IssueBookViewModel

<div class="container">
    @foreach (var el in Model.IssueBook.ListIssueBookItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Книга: </b> @el.Book.Name <br />
        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="CheckOut"> Взять </a>
</div>